.commands-data-table.left {
  text-align: left;
}

.commands-data-table.right {
  text-align: right;
}

.commands-data-table, .commands-data-table.center {
  text-align: center;
}

.col-url {
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden;
  max-width: 400px;
  width: 80%;
}

.col-title {
  white-space: nowrap; 
  text-overflow:ellipsis; 
  overflow: hidden;
  max-width: 400px;
  width: 80%;
}

.copyButton {
  float: right;
  cursor: pointer;
  background: none;
  border: none;
  padding-top: 5px;
}

.copyButton img:hover {
  opacity:1;
}

.copyButton {
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 4px;
  position: relative;
  border: none;
  color: #fff;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
    border-radius: 4px;
}

.copyButton:hover {
  background: #fff;
  box-shadow: 0px 2px 10px 5px #6DC7FF;
  color: #000;
}

.copyButton:after {
  content: "";
  background: #6DC7FF;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.copyButton:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.copyButton:focus { outline:0; }
